.contactBlock {
    min-height: 100vh;
    background-color: bisque;
}

.contacts {
    flex-direction: column;
    justify-content: space-around;
    border:1px solid;
}

.title {
    background-color: rgb(118, 121, 115);
}

