.formBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    width: 50%;
    height: 130px;
    margin-bottom: 20px;
  }

input {
    height: 20px;
}

textarea {
    height: 60px;
}

@media screen and(max-width: 372px){
    .formBlock  {
        width: 100%   
}
} 