@import'../styles/sass/variables.scss';
.title {
    text-align: center;
    margin: 0 0 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: $textColor;
    font-size: 28px;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;

    .title h2 {
        margin: 0;
      }

    &::before {
        content: '';
        position: absolute;
        background-color: $primaryColor;
        width: 55px;
        height: 2px;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}


