@import'../styles/sass/variables.scss';
.title {
    text-align: center;
    margin: 0 0 30px;
    color: $textColor;
    text-transform: capitalize;
    letter-spacing: 5px;
    position: relative;

    .title h2 {
            font-family: 'Josefin Sans', sans-serif;
            margin: 0;
            line-height: 1.2;
            font-size: 28px;
            font-weight: 300;
        }

    &::before {
        content: '';
        position: absolute;
        background-color: $primaryColor;
        width: 55px;
        height: 2px;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

// .title {
//     margin: 0 0 30px;
//     color: $textColor;
//     text-transform: capitalize;
//     letter-spacing: 5px;
//     position: relative;
  
//     & h2 {
//       margin: 0;
//       @include text($titleFontFamily, 36px, 1.2,300);
//     }
  
//     &::before {
//       content: '';
//       position: absolute;
//       background: $primaryColor;
//       width: 55px;
//       height: 1px;
//       bottom: -30px;
//       left: 50%;
//       transform: translate(-50%, 50%);
//     }
//   }
