@import'../common/styles/sass/variables.scss';

.projectsBlock {
    min-height: 100vh;
    background-color: $bgColor;
    border:1px solid $bgColor;

    .projectsContainer {
        height: 100%;
        width: 80%;
        margin: 0 auto;
       
        .projects {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and (max-width:766px) {
                justify-content: center;
            }
        }
    }
}



      