@import'../common/styles/sass/variables.scss';
@import'../common/styles/sass/mixins.scss';

.projectsBlock {
    min-height: 100vh;
    background-color: $bgColor;
    border: 1px solid $bgColor;


    .projectsContainer {
        @include container();
       

        .projects {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and (max-width:766px) {
                justify-content: center;
            }
        }
    }
}



      