.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: #252527;
    }

.projectImg {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: #d6dd6d;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }

.viewBtn {
  padding: 10px 20px;
  background-color: rgb(233, 236, 45);
  font-family: 'Josefin Sans', sans-serif;
 }

.projectInfo {
 padding: 25px 20px;
}

.projectTitle {
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.discription {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}
