@import'../common/styles/sass/variables.scss';
@import'../common/styles/sass/mixins.scss';

.projectsBlock {
    min-height: 100vh;
 
    .projectsContainer {
        @include container();
        border: 1px solid $bgSecondColor;
        padding: 30px;

        .projects {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and (max-width:766px) {
                justify-content: center;
            }
        }
    }
}



      