@import'../common/styles/sass/mixins.scss';

.skillsBlock {
    min-height: 100vh;
    padding: 100px;
  
    .container {
        @include container();
        @include flex(column, center, center, wrap);
     
    }
  
    .skills {
      @include flex(row, center, center, wrap);
      width: 100%;
    }
  }


