@import'../common/styles/sass/variables.scss';
@import'../common/styles/sass/mixins.scss';

.mainBlock {
    height: 100vh;
    background-color: $bgColor;

    .container {
        @include container();
         display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .text {
            width: 300px;
            font-family: $titleFontFamily;
            color: $textColor;
        }

        .photo {
            width: 300px;
            height: 400px;
            background-color: $bgSecondColor;
        }
    }
}




