@import'./variables.scss';

@mixin text($fontFamily, $fontSize, $lineHeight) {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $textColor;
  }

  @mixin container ($height, $width, $margin) {
    height: $height;
        width: $width;
        margin: $margin;
  }