@import'../common/styles/sass/variables.scss';
@import'../common/styles/sass/mixins.scss';


.footerBlock {
    min-height: 20vh;
    background-color: $bgSecondColor;

    .container {
        @include container();
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .icons {
            width: 280px;
            
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .icon {
                height: 50px;
                border: 1px solid;
                width: 50px;
                background-color: $bgColor;
                color: $textColor;
            }
        }

        .copyright {
            text-align: center;
            color: rgba(255, 255, 255, .5);
        }
    }

}





