@import'../common/styles/sass/variables.scss';
@import'../common/styles/sass/mixins.scss';

.distantWorkBlock {
    height: 30vh;
    padding: 100px;
    
 
    .contant {
        @include container();
    @include flex(column, space-between, center, nowrap);
    min-height: 20vh;
        .send{
            @include flex(column, center, center, nowrap);
            margin-top: 15px
        } 


    }

}




