@import'../common/styles/sass/variables.scss';

.distantWorkBlock {
    min-height: 50vh;
    background-color: $bgSecondColor;
    border:1px solid  $bgSecondColor;

    .contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: space-between; 
    }

}







