@import'../common/styles/sass/variables.scss';

.distantWorkBlock {
    min-height: 50vh;
    background-color: $bgSecondColor;
    
}

.contant {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





